#table-b {
    font-family: "Arial";
    font-size: 14px;
    background-color: cinza;
    margin: 10px;
    width: 1000x;
    border-collapse: collapse;
    text-align: left;
  }
  
  #table-b th {
    font-size: 14px;
    background-color: #dcdcdc;
    font-weight: bold;
    color: #333;
    padding: 10px 8px;
    border-bottom: 2px solid #51aac8;
  }
  
  #table-b td {
    border-bottom: 1px solid #ccc;
    color: #333;
    padding: 6px 8px;
  }
  
  #table-b tbody tr:hover td {
    background-color: #90caf9;
  }